<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>HactoberFest !!!</title>
  </head>
  <body>
    <div class="container">
            <h1>
                    HactoberFest 2020
            </h1>
            <p>
                    I am Sahaj Gupta and this is a simple flask app for 
                    <strong>HactoberFest 2020</strong>
            </p>
    </div>
  </body>
</html>
