<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src="react.development.js"></script>
  <script src="react-dom.development.js"></script>
  <script src="babel-standalone.js"></script>
  <link rel="stylesheet" href="style.css">
  <script src="app.js" defer></script>

  <title>Document</title>
</head>
<body>
  <div id="root"></div>
</body>
</html>