.img_center{
	margin: 0px auto;
	border-bottom: 1px solid white;
}
.bg_black{
	background-color: black
}
.nav ul{
	text-align: center;
	padding: 10px;
}
.nav li{
	display: inline;
	padding: 10px;
	
}
.nav a{
	text-decoration: none;
	color: white;

}
.active{
	color: #DFC977 !important;
}

.nav a:hover{
	color: #DFC977;
}
.main_color{
	color: rgba(142,91,34,1);
}
.text_align_center{
	text-align: center;
}

.last_text{
	background-color: black;
	color: white;
}
.last_text a{
	color: white;
}
.pos_fixed{
	position: fixed;
}
.button_hov:hover{
	color: white !important;
	background-color: rgba(142,91,34,1) !important;
}
.button_hov{
	color: rgba(142,91,34,1); 
	border: 1px solid rgba(142,91,34,1);
}
a:hover{
	text-decoration: none;
}